<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
      <span class="align-middle d-inline-block">写写事</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">首页</a>
        <a class="nav-item nav-link" href="/">随便看看</a>
        <a class="nav-item nav-link" href="/about">关于</a>
      </div>
      <div class="navbar-nav ml-auto">
        {{#if user}}
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
            <div class="dropdown-menu">
              <a href="/ideas" class="dropdown-item">我的故事</a>
              <a href="/ideas/add" class="dropdown-item">写写</a>
            </div>
          </div>
          <a class="nav-item nav-link" href="/logout">注销</a>
        {{else}}
          <a class="nav-item nav-link" href="" role="button" data-toggle="modal" data-target="#login-modal">登录</a>
          <a class="nav-item nav-link" href="" role="button" data-toggle="modal" data-target="#register-modal">注册</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

{{> _loginModal}}
{{> _registerModal}}
